@page
@model PartnersModel
@{
    ViewData["Title"] = "Partners";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css" />

<div class="text-center">
    <h1>Partners</h1>
</div>

@try
{
    var Partners = Repository.Instance.GetPartners(); 
    <table id="partners_table" class="stripe row-border order-column" style="width:80%">
        <thead>
            <tr>
                <th>Partner ID</th>
                <th>Partner name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var Partner in Partners)
                {
                    <tr>
                        <td>@Partner.PartnerId</td>
                        <td>@Partner.PartnerName</td>
                        <td>@Partner.Email</td>
                        <td>@Partner.Phone</td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Partner ID</th>
                <th>Partner name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </tfoot>
    </table>
}
catch (System.Exception e)
{
    <p>Unable to draw the table.</p>
    <p>Exception: @e</p>
}

<form method="post">
    <div id="sticky_buttons" style="border: thin solid black; background: white; visibility: hidden;">
        <div style="margin-top: 10px; margin-left: 50px; margin-bottom: 10px;">
            <input type="number" name="partner_id" id="partner_id" value="0" style="width: 75px; visibility: hidden;">
            <input type="text" name="partner_name" id="partner_name" placeholder="Partner name">
            <input type="text" name="email" id="email" placeholder="Email" style="width: 250px;">
            <input type="text" name="phone" id="phone" placeholder="Phone">
        </div>

        <div style="margin-top: 10px; margin-left: 250px; margin-bottom: 10px;">
            <input class="home-btn" type="submit" asp-page-handler="AddBtn" value="Add">
            <input class="home-btn" type="submit" asp-page-handler="EditBtn" value="Edit">
            <input class="home-btn" type="submit" asp-page-handler="DeleteBtn" value="Delete">
        </div>
    </div>
</form>

@if (Repository.IsErrorMessageActivatedOnPartners)
{
    <form method="post">
        <div id="error_message" style="position: absolute; top: 0px; left: 60%; width: 350px; height: auto; border: thin solid black; background: white;">
            <div id="error_text" name="error_text" style="margin-left: 15px; margin-right: 15px;">
                <b>Error message: </b>
                <p>@Repository.ErrorMessageOnPartners</p>
            </div>
            <div style="margin-left: 100px; margin-bottom: 15px;">
                <input type="submit" class="home-btn" asp-page-handler="CloseErrorBtn" value="Close">
            </div>
        </div>
    </form>
}

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
<script language="JavaScript" type="text/javascript">
    $.noConflict();
    jQuery( document ).ready(function( $ ) {
        let isRowSelected = false; 
        
        $(document).ready(function() {
            var table = $('#partners_table').DataTable({
                "columnDefs": [
                    {
                        "targets": [ 0 ],
                        "visible": false,
                        "searchable": false
                    }
                ]
            });

            $('#partners_table tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                    document.getElementById('sticky_buttons').style.visibility = "hidden";
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    document.getElementById('sticky_buttons').style.visibility = "visible";
                    
                    var rowArray = table.row(this).data();
                    document.getElementById('partner_id').value = rowArray[0]; 
                    document.getElementById('partner_name').value = rowArray[1]; 
                    document.getElementById('email').value = rowArray[2]; 
                    document.getElementById('phone').value = rowArray[3]; 
                }
            } );
        } ); 

        if ( $(window).height() >= $(document).find('#main_footer').prop('disabled', true).offset().top - 10 )
        {
            let topPosition = $(document).find('#main_footer').prop('disabled', true).offset().top + document.getElementById('sticky_buttons').offsetHeight; 
            $('#sticky_buttons').css({'position':'fixed','top':'335px'});
        }

        var initTopPosition= $('#sticky_buttons').offset().top; 

        $(window).scroll(function() {
            if($(window).scrollTop() > 0)
            {
                $('#sticky_buttons').css({'position':'fixed','top':'390px'});

                if ( $(window).scrollTop() + $(window).height() >= $(document).find('#main_footer').prop('disabled', true).offset().top - 10 )
                {
                    let topPosition = $(document).find('#main_footer').prop('disabled', true).offset().top + document.getElementById('sticky_buttons').offsetHeight; 
                    $('#sticky_buttons').css({'position':'fixed','top':'335px'});
                }
            }
            else
            {
                $('#sticky_buttons').css({'position':'absolute','top':initTopPosition+'px'});
            }
        });
    });
</script>
