@using WorkflowLib.UnifiedBusinessPlatform.Core.Models.Configurations
@using WorkflowLib.UnifiedBusinessPlatform.ViewModels

@model SignInViewModel;

@inject AppSettings _appSettings

@{
    ViewData["Title"] = "Sign In";
}

@try
{
    var languageName = string.Empty;
    if (!Context.Request.Cookies.TryGetValue("employeesmvc-lang", out languageName))
    {
        languageName = "English";
    }
    
    ViewData["Title"] = _appSettings.Translate(languageName, "SignIn");
    var usernameLabelText = _appSettings.Translate(languageName, "UserAccount.Username");
    var passwordLabelText = _appSettings.Translate(languageName, "UserAccount.Password");

    <h1>@ViewData["Title"]</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="SignIn" asp-controller="Auth">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label">@usernameLabelText</label>
                    <input asp-for="Username" class="form-control" placeholder="@usernameLabelText" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">@passwordLabelText</label>
                    <input type="password" asp-for="Password" class="form-control" placeholder="@passwordLabelText" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="@ViewData["Title"]" class="btn btn-primary" />
                </div>
            </form>
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="text-center">
                    <p class="text-danger">@TempData["ErrorMessage"]</p>
                </div>
            }
        </div>
    </div>
}
catch (System.Exception ex)
{
    <div class="text-center">
        <p class="text-danger">Error: @ex.Message</p>
    </div>
}
