@using WorkflowLib.UnifiedBusinessPlatform.Core.Dal
@using WorkflowLib.UnifiedBusinessPlatform.Core.DbContexts
@using WorkflowLib.UnifiedBusinessPlatform.Core.Extensions
@using WorkflowLib.Shared.Models.Business.InformationSystem

@inject UbpDbContext _context

@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Employees";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css" />

@try
{
    var jobTitles = new List<string>();
    var departments = new List<string>();
    
    string formName = "Hrm/Employees";
    string applicationUid = "d7b0eb60-190e-439d-89e1-c78594ac7f0c";

    var languageName = string.Empty;
    if (!Context.Request.Cookies.TryGetValue("employeesmvc-lang", out languageName))
    {
        languageName = "English";
    }
    
    Dictionary<string, string> translations = LanguageDal.GetLanguageKvpByFormName(
        _context,
        UbpEnumExtensions.GetLanguageTypeEnum(languageName),
        formName,
        applicationUid);

    ViewData["Title"] = translations["Employees"];

    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <p>@translations["EmployeesDescribe"]</p>
        @if (TempData["ErrorMessage"] != null)
        {
            <p class="text-danger">Error message: @TempData["ErrorMessage"]</p>
        }
    </div>

    if (Model == null)
    {
        <p class="text-danger">@translations["Error.DataNotGeneratedYet"]</p>
    }
    else
    {
        <table name="tblEmployees" id="tblEmployees" class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>@translations["FullName"]</th>
                    <th>@translations["Gender"]</th>
                    <th>@translations["OrganizationItem"]</th>
                    <th>@translations["Age"]</th>
                    <th>@translations["BirthDate"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    var age = System.DateTime.Now.Year - obj.BirthDate?.Year;
                    if (obj.BirthDate?.Month > System.DateTime.Now.Month && obj.BirthDate?.Day > System.DateTime.Now.Day)
                    {
                        age -= 1;
                    }
                    <tr>
                        <td>
                            <a class="link-dark link-offset-2 link-underline link-underline-opacity-0" asp-area="" asp-controller="Hrm" asp-action="EmployeeDetails" asp-route-id="@obj.Id">
                                @obj.FullName
                            </a>
                        </td>
                        <td>@translations[$"Gender.{obj.Gender}"]</td>
                        <td>
                            @{
                                var organizationItem = obj.OrganizationItems?.FirstOrDefault();
                                if (organizationItem != null)
                                {
                                    <a class="link-dark link-offset-2 link-underline link-underline-opacity-0" asp-area="" asp-controller="OrganizationalStructure" asp-action="OrganizationItemDetails" asp-route-id="@organizationItem.Id">
                                        @organizationItem.Name
                                    </a>
                                }
                                else
                                {
                                    <p>N/A</p>
                                }
                            }
                        </td>
                        <td>@age</td>
                        <td>@obj.BirthDate?.ToString("dd.MM.yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
        <script language="JavaScript" type="text/javascript">
            $.noConflict();
            jQuery( document ).ready(function( $ ) {
                $(document).ready(function() {
                    var table = $('#tblEmployees').DataTable({
                        language: {
                            url: '//cdn.datatables.net/plug-ins/2.0.8/i18n/en-GB.json',
                        }
                    });
                });
            });
        </script>
    }
}
catch (System.Exception ex)
{
    <div class="text-center">
        <p class="text-danger">Error: @ex.Message</p>
    </div>
}
