@page
@model ImportModel
@{
    ViewData["Title"] = "Import";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css" />

<div class="text-center">
    <h1>Import</h1> 
</div>

@try
{
    var importDocs = Repository.Instance.GetImportDocs(); 
    <table id="import_table" class="stripe row-border order-column" style="width:80%">
        <thead>
            <tr>
                <th>Document ID</th>
                <th>Document number</th>
                <th>Employee</th>
                <th>Supplier</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var doc in importDocs)
                {
                    <tr>
                        <td>@doc.ImportDocId</td>
                        <td>@doc.DocNum</td>
                        <td>@doc.EmployeeName</td>
                        <td>@doc.SupplierName</td>
                        <td>@doc.DateTime.Date.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))</td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Document ID</th>
                <th>Document number</th>
                <th>Employee</th>
                <th>Supplier</th>
                <th>Date</th>
            </tr>
        </tfoot>
    </table>
}
catch (System.Exception e)
{
    <p>Unable to draw the table.</p>
    <p>Exception: @e</p>
}

<form method="post">
    <div id="sticky_buttons" style="border: thin solid black; background: white; visibility: hidden;">
        <div style="margin-top: 10px; margin-left: 0px; margin-bottom: 10px;">
            <input type="number" name="document_id" id="document_id" value="0" style="visibility: collapse; width: 75px;">
            <input type="text" name="document_number" id="document_number" placeholder="Document number">
            <input type="text" name="employee" id="employee" placeholder="Employee">
            <input type="text" name="supplier" id="supplier" placeholder="Supplier">
            <input type="date" name="date_time" id="date_time" min="2000-01-01" max="2021-12-31">
        </div>

        <div style="margin-top: 10px; margin-left: 150px; margin-bottom: 10px;">
            <input class="home-btn" type="submit" asp-page-handler="AddBtn" value="Add">
            <input class="home-btn" type="submit" asp-page-handler="EditBtn" value="Edit">
            <input class="home-btn" type="submit" asp-page-handler="DeleteBtn" value="Delete">
            <input class="home-btn" type="submit" asp-page-handler="WatchBtn" value="Watch">
        </div>
    </div>
</form>

@if (Repository.IsErrorMessageActivatedOnImport)
{
    <form method="post">
        <div id="error_message" style="position: absolute; top: 0px; left: 60%; width: 350px; height: auto; border: thin solid black; background: white; visibility: visible;">
            <div id="error_text" name="error_text" style="margin-left: 15px; margin-right: 15px;">
                <b>Error message: </b>
                <p>@Repository.ErrorMessageOnImport</p>
            </div>
            <div style="margin-left: 100px; margin-bottom: 15px;">
                <input type="submit" class="home-btn" asp-page-handler="CloseErrorBtn" value="Close">
            </div>
        </div>
    </form>
}

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
<script language="JavaScript" type="text/javascript">
    $.noConflict();
    jQuery( document ).ready(function( $ ) {
        let isRowSelected = false; 
        
        $(document).ready(function() {
            var table = $('#import_table').DataTable({
                "columnDefs": [
                    {
                        "targets": [ 0 ],
                        "visible": false,
                        "searchable": false
                    }
                ]
            });

            $('#import_table tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                    document.getElementById('sticky_buttons').style.visibility = "hidden";
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    document.getElementById('sticky_buttons').style.visibility = "visible";
                    
                    var rowArray = table.row(this).data();
                    document.getElementById('document_id').value = rowArray[0]; 
                    document.getElementById('document_number').value = rowArray[1]; 
                    document.getElementById('employee').value = rowArray[2]; 
                    document.getElementById('supplier').value = rowArray[3]; 
                    document.getElementById("date_time").valueAsDate = getDateFromMMDDYYYY(rowArray[4]);
                }
            } );
        } ); 

        if ( $(window).height() >= $(document).find('#main_footer').prop('disabled', true).offset().top - 10 )
        {
            let topPosition = $(document).find('#main_footer').prop('disabled', true).offset().top + document.getElementById('sticky_buttons').offsetHeight; 
            $('#sticky_buttons').css({'position':'fixed','top':'335px'});
        }

        var initTopPosition= $('#sticky_buttons').offset().top; 

        $(window).scroll(function() {
            if($(window).scrollTop() > 0)
            {
                $('#sticky_buttons').css({'position':'fixed','top':'390px'});

                if ( $(window).scrollTop() + $(window).height() >= $(document).find('#main_footer').prop('disabled', true).offset().top - 10 )
                {
                    let topPosition = $(document).find('#main_footer').prop('disabled', true).offset().top + document.getElementById('sticky_buttons').offsetHeight; 
                    $('#sticky_buttons').css({'position':'fixed','top':'335px'});
                }
            }
            else
            {
                $('#sticky_buttons').css({'position':'absolute','top':initTopPosition+'px'});
            }
        });
    });
</script>
