@using WorkflowLib.Examples.EmployeesMvc.Core.Models.Configurations
@inject AppSettings _appSettings

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeesMvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/webapp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    @try
    {
        var languageName = string.Empty;
        if (!Context.Request.Cookies.TryGetValue("employeesmvc-lang", out languageName))
        {
            languageName = "English";
        }

        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EmployeesMvc</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@_appSettings.Translate(languageName, "Page.Home")</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @_appSettings.Translate(languageName, "OrganizationalStructure")
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="OrganizationalStructure" asp-action="BriefDescription">@_appSettings.Translate(languageName, "BriefDescription")</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="" asp-controller="OrganizationalStructure" asp-action="Organizations">@_appSettings.Translate(languageName, "Organizations")</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="OrganizationalStructure" asp-action="Departments">@_appSettings.Translate(languageName, "Departments")</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="OrganizationalStructure" asp-action="Teams">@_appSettings.Translate(languageName, "Teams")</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="OrganizationalStructure" asp-action="JobPositions">@_appSettings.Translate(languageName, "JobPositions")</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    HRM
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Hrm" asp-action="Employees">@_appSettings.Translate(languageName, "Employees")</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Hrm" asp-action="Vacations">@_appSettings.Translate(languageName, "Vacations")</a>
                                </div>
                            </li>
                        </ul>
                        <div class="navbar-nav flex-grow-2" style="text-align: right;">
                            <select class="form-select" aria-label="Default select example" onchange="changeLanguage(this.value)">
                                @{
                                    var languages = _appSettings.Languages;
                                    foreach (var language in languages)
                                    {
                                        if (languageName == language.Name)
                                        {
                                            <option value="@language.Name" selected='selected'>@language.DisplayName</option>
                                        }
                                        else
                                        {
                                            <option value="@language.Name">@language.DisplayName</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; @System.DateTime.Now.Year - EmployeesMvc
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
            function changeLanguage(lang) {
                window.location.href = '/Home/SetLanguage?lang=' + lang;
            }
        </script>

        @await RenderSectionAsync("Scripts", required: false)
    }
    catch (System.Exception ex)
    {
        <div class="text-center">
            <p class="text-danger">Error: @ex.Message</p>
        </div>
    }
</body>
</html>
