@using VelocipedeUtils.Shared.Models.Business.InformationSystem
@using VelocipedeUtils.UnifiedBusinessPlatform.Core.Dal
@using VelocipedeUtils.UnifiedBusinessPlatform.Core.DbContexts
@using VelocipedeUtils.UnifiedBusinessPlatform.Core.Extensions

@model IEnumerable<OrganizationItem>

@inject UbpDbContext _context

@{
    ViewData["Title"] = "Organization Item";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css" />

@try
{
    string formName = "OrganizationalStructure/OrganizationItems";
    string applicationUid = "d7b0eb60-190e-439d-89e1-c78594ac7f0c";

    var languageName = string.Empty;
    if (!Context.Request.Cookies.TryGetValue("employeesmvc-lang", out languageName))
    {
        languageName = "English";
    }
    
    Dictionary<string, string> translations = LanguageDal.GetLanguageKvpByFormName(
        _context,
        UbpEnumExtensions.GetLanguageTypeEnum(languageName),
        formName,
        applicationUid);

    var titleString = ViewData["ItemType"] != null ? ViewData["ItemType"].ToString() : string.Empty;
    ViewData["Title"] = translations[titleString];

    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
    </div>
    
    <table name="tblTeams" id="tblTeams" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @translations["Name"]
            </th>
            <th>
                @translations["Description"]
            </th>
            <th>
                @translations["Organization"]
            </th>
            <th>
                @translations["ParentItem"]
            </th>
            <th>
                @translations["Additional"]
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationName)
            </td>
            <td>@item.ParentItem?.Name</td>
            <td>
                <a type="button" class="btn btn-primary btn-sm position-relative" asp-area="" asp-controller="OrganizationalStructure" asp-action="OrganizationItemDetails" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
    }
    </tbody>
    </table>
    
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
    <script language="JavaScript" type="text/javascript">
        $.noConflict();
        jQuery( document ).ready(function( $ ) {
            $(document).ready(function() {
                var table = $('#tblTeams').DataTable({
                    language: {
                        url: '//cdn.datatables.net/plug-ins/2.0.8/i18n/en-GB.json',
                    }
                });
            });
        });
    </script>
}
catch (System.Exception ex)
{
    <div class="text-center">
        <p class="text-danger">Error: @ex.Message</p>
    </div>
}
