
@using WorkflowLib.Examples.UnifiedBusinessPlatform.Core.Models.Configurations
@inject AppSettings _appSettings

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UnifiedBusinessPlatform</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/webapp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    @try
    {
        var languageName = string.Empty;
        if (!Context.Request.Cookies.TryGetValue("employeesmvc-lang", out languageName))
        {
            languageName = "English";
        }

        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">UnifiedBusinessPlatform</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@_appSettings.Translate(languageName, "Page.Home")</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @_appSettings.Translate(languageName, "OrganizationalStructure")
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="OrganizationalStructure" asp-action="BriefDescription">@_appSettings.Translate(languageName, "BriefDescription")</a></li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="dropdown-divider"></div>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="OrganizationalStructure" asp-action="Organizations">@_appSettings.Translate(languageName, "Organizations")</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="OrganizationalStructure" asp-action="OrganizationItems" asp-route-itemType="0">@_appSettings.Translate(languageName, "Departments")</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="OrganizationalStructure" asp-action="OrganizationItems" asp-route-itemType="4">@_appSettings.Translate(languageName, "Teams")</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="OrganizationalStructure" asp-action="OrganizationItems" asp-route-itemType="1">@_appSettings.Translate(languageName, "JobPositions")</a></li>
                                    }
                                </ul>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        HRM
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-area="" asp-controller="Hrm" asp-action="Employees">@_appSettings.Translate(languageName, "Employees")</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Hrm" asp-action="Absenses">@_appSettings.Translate(languageName, "Absenses")</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="" asp-controller="Hrm" asp-action="Hiring">@_appSettings.Translate(languageName, "Hiring")</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Finance
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Investments</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @_appSettings.Translate(languageName, "Documents")
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-area="" asp-controller="Documents" asp-action="Internal">@_appSettings.Translate(languageName, "Documents.Internal")</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="" asp-controller="Documents" asp-action="KnowledgeBase">@_appSettings.Translate(languageName, "KnowledgeBase")</a>
                                    </div>
                                </li>
                            }
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    More
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Corporate website</a></li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" role="button">External Communication Service</a>
                                        <ul class="dropdown-menu">
                                            <a class="dropdown-item" href="#">File sharing</a>
                                            <a class="dropdown-item" href="#">Candidate survey</a>
                                            <a class="dropdown-item" href="#">Client survey</a>
                                            <a class="dropdown-item" href="#">Client satisfaction survey</a>
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <a class="dropdown-item" href="#">Employee satisfaction survey</a>
                                            }
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" role="button">Partners</a>
                                        <ul class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Food delivery</a>
                                            <a class="dropdown-item" href="#">e-commerce</a>
                                            <a class="dropdown-item" href="#">Bank</a>
                                        </ul>
                                    </li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" role="button">Internal systems</a>
                                            <ul class="dropdown-menu">
                                                <a class="dropdown-item" href="#">CRM</a>
                                                <a class="dropdown-item" href="#">WMS</a>
                                                <a class="dropdown-item" href="#">Logistics</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">TechSupport</a>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" role="button">Communication</a>
                                            <ul class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Convo Web</a>
                                                <a class="dropdown-item" href="#">MeetPlanning</a>
                                            </ul>
                                        </li>
                                        <div class="dropdown-divider"></div>
                                        <li><a class="dropdown-item" href="#">Task management</a></li>
                                        <li><a class="dropdown-item" href="#">HelpDesk</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" role="button">Download corporate software</a>
                                            <ul class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Convo Desktop</a>
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="SignOut">Sign Out</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="SignIn">Sign In</a>
                                </li>
                            }
                        </ul>
                        <div class="navbar-nav flex-grow-2" style="text-align: right;">
                            <select class="form-select" aria-label="Default select example" onchange="changeLanguage(this.value)" style="margin-right:15px;">
                                @{
                                    var languages = _appSettings.Languages;
                                    foreach (var language in languages)
                                    {
                                        if (languageName == language.Name)
                                        {
                                            <option value="@language.Name" selected='selected'>@language.DisplayName</option>
                                        }
                                        else
                                        {
                                            <option value="@language.Name">@language.DisplayName</option>
                                        }
                                    }
                                }
                            </select>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a type="button" class="btn btn-primary position-relative" asp-area="" asp-controller="Home" asp-action="Notifications">
                                    @_appSettings.Translate(languageName, "Notifications")
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                        99+
                                    </span>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; @System.DateTime.Now.Year - UnifiedBusinessPlatform
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
            function changeLanguage(lang) {
                window.location.href = '/Home/SetLanguage?lang=' + lang;
            }

            $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
                if (!$(this).next().hasClass('show')) {
                    $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
                }
                var $subMenu = $(this).next('.dropdown-menu');
                $subMenu.toggleClass('show');

                $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
                    $('.dropdown-submenu .show').removeClass('show');
                });
                return false;
            });
        </script>

        @await RenderSectionAsync("Scripts", required: false)
    }
    catch (System.Exception ex)
    {
        <div class="text-center">
            <p class="text-danger">Error: @ex.Message</p>
        </div>
    }
</body>
</html>
