@using WorkflowLib.Examples.EmployeesMvc.Core.Models.Configurations
@using WorkflowLib.Examples.EmployeesMvc.Core.Models.HumanResources
@inject AppSettings _appSettings
@{
    ViewData["Title"] = "New Vacation";
}

@try
{
    var jobTitles = System.Enum.GetValues(typeof(JobTitle));
    var departments = System.Enum.GetValues(typeof(Department));

    var languageName = "English";

    ViewData["Title"] = @_appSettings.Translate(languageName, "NewVacation");

    <div class="text-center">
        <h1 class="display-4">@_appSettings.Translate(languageName, "NewVacation")</h1>
        
        <form method="post" asp-controller="Home" asp-action="AddNewVaction" role="post"> 
            <label>@_appSettings.Translate(languageName, "FullName"): </label>
            <input type="text" placeholder="Enter full name" name="fullName">
            <label>@_appSettings.Translate(languageName, "BeginDate"): </label>
            <input type="date" name="beginDate">
            <label>@_appSettings.Translate(languageName, "EndDate"): </label>
            <input type="date" name="endDate">
            <input type="submit" value="@_appSettings.Translate(languageName, "NewVacation.Add")" class="btn btn-primary" />
        </form>
    </div>

    <div>
        Note: 
        <ul>
            <li>
                Make sure that the employee with the specified full name exists in the initial dataset (see, 
                <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Employees">Employees page</a>).
                If such user does not exist, contact admins to add the employee.
            </li>
            <li>
                Employee's full name should be exactly the same as specified in the initial dataset.
            </li>
        <ul>
    </div>
}
catch (System.Exception ex)
{
    <div class="text-center">
        <p class="text-danger">Error: @ex.Message</p>
    </div>
}
