@using WorkflowLib.Examples.EmployeesMvc.Core.Models.Configurations
@using WorkflowLib.Examples.EmployeesMvc.Core.Models.HumanResources
@model IEnumerable<Vacation>
@inject AppSettings _appSettings
@{
    ViewData["Title"] = "Vacations Page";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css" />

<div class="text-center">
    <h1 class="display-4">Vacations</h1>
</div>

@try
{
    var filterOptionsSettings = _appSettings.StringSettings.FilterOptionsSettings;
    var jobTitles = System.Enum.GetValues(typeof(JobTitle));
    var departments = System.Enum.GetValues(typeof(Department));

    <div>
        <button class="btn btn-dark dropdown" data-bs-toggle="collapse" data-bs-target="#divVacationFilters">Vacation filters</button>

        <div class="collapse indent" id="divVacationFilters">
            <div class="text-center">
                <form method="post" asp-controller="Home" asp-action="FilterVacations" role="post">
                    <div class="form-group col-md-4">
                        <label for="fullName">Full name</label>
                        <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Enter full name">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="minAge">Minimum age</label>
                            <input type="text" class="form-control" id="minAge" name="minAge" placeholder="Enter age (min.)"
                                oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="maxAge">Maximum age</label>
                            <input type="text" class="form-control" id="maxAge" name="maxAge" placeholder="Enter age (max.)"
                                oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="gender">Gender</label>
                        <select class="form-control" id="gender" name="gender">
                            <option></option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="jobTitle">Job title</label>
                        <select class="form-control" id="jobTitle" name="jobTitle">
                            <option></option>
                            @foreach (var obj in jobTitles) 
                            {
                                <option>@obj</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="department">Department</label>
                        <select class="form-control" id="department" name="department">
                            <option></option>
                            @foreach (var obj in departments) 
                            {
                                <option>@obj</option>
                            }
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="currentFullName">Current employee's full name</label>
                        <input type="text" class="form-control" id="currentFullName" name="currentFullName" placeholder="Enter full name">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="filterOptions">Filter options</label>
                        <select class="form-control" id="filterOptions" name="filterOptions">
                            <option>@filterOptionsSettings.FindFilterOptionsShowAllFilteredVacations</option>
                            <option>@filterOptionsSettings.FindFilterOptionsShowIntersections</option>
                            <option>@filterOptionsSettings.FindFilterOptionsExcludeIntersections</option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <br>
                        <input type="submit" value="Find" class="btn btn-primary col-md-12" />
                    </div>
                    
                </form>
            </div>

            <label><b>Filters:</b> @TempData["filterInfoVacations"]</label>
            <br>
            <label><b>Current employee:</b> @TempData["employeeInfoVacations"]</label>
            <br>
            <label><b>Filter options:</b> @TempData["filterOptionsVacations"]</label>
        </div>
    </div>

    @if (Model == null)
    {
        <label>Employees are not generated yet...</label>
    }
    else
    {
        <br>
        <table name="tblVacations" id="tblVacations" class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>Full name</th>
                    <th>Gender</th>
                    <th>Job title</th>
                    <th>Department</th>
                    <th>Age</th>
                    <th>Begin date</th>
                    <th>End date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    var age = System.DateTime.Now.Year - obj.Employee.BirthDate.Year;
                    if (obj.Employee.BirthDate.Month > System.DateTime.Now.Month && obj.Employee.BirthDate.Day > System.DateTime.Now.Day)
                        age -= 1;
                    <tr>
                        <td>@obj.Employee.FullName</td>
                        <td>@obj.Employee.Gender</td>
                        <td>@obj.Employee.JobTitle</td>
                        <td>@obj.Employee.Department</td>
                        <td>@age</td>
                        <td>@obj.BeginDate.ToString("dd.MM.yyyy")</td>
                        <td>@obj.EndDate.ToString("dd.MM.yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
    <script language="JavaScript" type="text/javascript">
        $.noConflict();
        jQuery( document ).ready(function( $ ) {
            $(document).ready(function() {
                var table = $('#tblVacations').DataTable({
                    language: {
                        url: '//cdn.datatables.net/plug-ins/2.0.8/i18n/en-GB.json',
                    }
                });
            });
        });
    </script>
}
catch (System.Exception ex)
{
    <div class="text-center">
        <p class="text-danger">Error: @ex.Message</p>
    </div>
}
